In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
import datetime as dt
from collections import defaultdict
%matplotlib inline

In [2]:
df = pd.read_csv('WhatAppDataforDash.csv')
df.head()

,Date,Day,Time,Message,Person,RawData,Letters,Words,MediaCount,Year,Month
0,2018-08-16,Thrusday,20:12,Hello this is official grup,Chinmayee,"16/08/18, 20:12 - Chinmayee: Hello this is off...",28,6,0,2018,Aug
1,2018-08-16,Thrusday,20:12,Chusinam leaaa,Jagas,"16/08/18, 20:12 - Jagas: Chusinam leaaa",15,3,0,2018,Aug
2,2018-08-16,Thrusday,20:12,Admin cheyyi,+91 6309 604 570,"16/08/18, 20:12 - +91 6309 604 570: Admin cheyyi",13,3,0,2018,Aug
3,2018-08-16,Thrusday,20:12,First,+91 6309 604 570,"16/08/18, 20:12 - +91 6309 604 570: First",6,2,0,2018,Aug
4,2018-08-16,Thrusday,20:12,Kkkk,Kalyan,"16/08/18, 20:12 - Kalyan: Kkkk",5,2,0,2018,Aug

In [3]:
df[df['Year']==2018].style.background_gradient(cmap = 'plasma')

In [4]:
df_2018 = df[df['Year']==2018]
df_2018.shape

(1471, 11)

In [5]:
df_2018

,Date,Day,Time,Message,Person,RawData,Letters,Words,MediaCount,Year,Month
0,2018-08-16,Thrusday,20:12,Hello this is official grup,Chinmayee,"16/08/18, 20:12 - Chinmayee: Hello this is off...",28,6,0,2018,Aug
1,2018-08-16,Thrusday,20:12,Chusinam leaaa,Jagas,"16/08/18, 20:12 - Jagas: Chusinam leaaa",15,3,0,2018,Aug
2,2018-08-16,Thrusday,20:12,Admin cheyyi,+91 6309 604 570,"16/08/18, 20:12 - +91 6309 604 570: Admin cheyyi",13,3,0,2018,Aug
3,2018-08-16,Thrusday,20:12,First,+91 6309 604 570,"16/08/18, 20:12 - +91 6309 604 570: First",6,2,0,2018,Aug
4,2018-08-16,Thrusday,20:12,Kkkk,Kalyan,"16/08/18, 20:12 - Kalyan: Kkkk",5,2,0,2018,Aug
...,...,...,...,...,...,...,...,...,...,...,...
1466,2018-12-31,Monday,14:12,The registration fee for Hackathon is 1200 .,Ravi Raju Sir,"31/12/18, 14:12 - Ravi Raju Sir: The registrat...",45,9,0,2018,Dec
1467,2018-12-31,Monday,15:21,https,Meet,"31/12/18, 15:21 - Meet: https://bit.ly/2BKVvlO",6,2,0,2018,Dec
1468,2018-12-31,Monday,15:21,<Media omitted>,Meet,"31/12/18, 15:21 - Meet: <Media omitted>",16,3,1,2018,Dec
1469,2018-12-31,Monday,15:23,This is the link for the hackathon... interes...,Meet,"31/12/18, 15:23 - Meet: This is the link for t...",78,14,0,2018,Dec
1470,2018-12-31,Monday,21:43,<Media omitted>,+91 91219 91581,"31/12/18, 21:43 - +91 91219 91581: <Media omit...",16,3,1,2018,Dec

In [6]:
month = list(df_2018['Month'].unique())
month

['Aug',
 'Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [7]:
months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
tousemonth = []
for i in months:
    if i in month:
        tousemonth.append(i)
        
tousemonth

['Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [8]:
df_2018_new = df_2018[(df_2018['Month']=='Aug')|(df_2018['Month']=='Sep')|(df_2018['Month']=='Oct')
                     |(df_2018['Month']=='Nov')|(df_2018['Month']=='Dec')]
df_2018_new.shape

(1187, 11)

In [9]:
df_2018_new['Month'].unique()

array(['Aug', 'Sep', 'Oct', 'Nov', 'Dec'], dtype=object)

In [10]:
df_2018_new[df_2018_new['Month']=='Aug'].style.background_gradient(cmap = 'plasma')

## Dates

In [11]:
persons_list = list(df_2018_new['Person'])
persons_map = dict(zip(persons_list,map(persons_list.count,persons_list)))
persons_map = dict(sorted(persons_map.items(),key=lambda x:x[1],reverse=True))
persons_map = dict(list(persons_map.items())[:10])
persons_map

{' +91 6309 604 570': 271,
 ' +91 85559 80272': 196,
 ' Meet': 109,
 ' Chinmayee': 82,
 ' Jagas': 74,
 ' Ravi Raju Sir': 53,
 ' Aditya *New*': 39,
 ' Harifriend': 38,
 ' +91 90525 52661': 31,
 ' +91 91103 54642': 25}

**First make a map of the person and the message which they are sending,then check out at which indicies the person is repeating,then find the difference count wrt to adjacent index if the diff is >1 that means there was a reply to that persons message,now the difference between current index and adjacent index is the number of replies on average**

In [12]:
message_list = list(df_2018_new['Message'])
person_list = list(df_2018_new['Person'])
top10person = persons_map
print(len(message_list),len(person_list))

1187 1187

In [13]:
def getmsgcount(message_list,person_list,person):
    
    idx_count = []
    idx_map = {}
    for i,j in zip(range(len(person_list)),range(len(message_list))):
        if persons_list[i]==person:
            idx_map[i] = message_list[j]
            idx_count.append(i)


    uselist = []
    for i in range(len(idx_count)-1):
        if abs(idx_count[i]-idx_count[i+1])>1:
            uselist.append(idx_count[i])



    msgcount = []
    for i in range(len(uselist)-1):
        msgcount.append(abs(uselist[i]-uselist[i+1]))

    
    return msgcount

In [14]:
df_2018_new = df_2018[(df_2018['Month']=='Aug')|(df_2018['Month']=='Sep')|(df_2018['Month']=='Oct')
                     |(df_2018['Month']=='Nov')|(df_2018['Month']=='Dec')]

persons_list = list(df_2018_new['Person'])
persons_map = dict(zip(persons_list,map(persons_list.count,persons_list)))
persons_map = dict(sorted(persons_map.items(),key=lambda x:x[1],reverse=True))
persons_map = dict(list(persons_map.items())[:10])
top10person = list(persons_map.keys())
topmonth = list(df_2018_new['Month'].unique())

msgs = []
final_map = defaultdict(list)
for person in top10person:
    for month in topmonth:
        dummy = df_2018_new[df_2018_new['Month']==month]
        message_list = list(dummy['Message'])
        person_list = list(dummy['Person'])
        final_map[person].append(getmsgcount(message_list,person_list,person))

In [16]:
len(list(final_map.values()))

10

In [17]:
touselist = {}
for key,val in final_map.items():
    dummy = final_map[key]
    count = 0
    for litem in dummy:
        if len(litem)>0:
            count+=1
            
    if count==5:
        touselist[key] = val

touselist

{' +91 6309 604 570': [[13,
   7,
   64,
   4,
   4,
   21,
   4,
   4,
   7,
   6,
   4,
   11,
   3,
   4,
   2,
   11,
   5,
   2,
   3,
   2,
   11,
   3,
   4,
   10,
   3,
   4,
   5,
   2,
   12,
   10,
   8,
   4,
   5,
   3,
   29,
   3,
   5,
   13,
   9,
   9,
   12,
   3,
   2,
   3,
   4,
   4,
   7,
   8,
   3,
   4,
   4,
   3,
   5,
   6,
   3,
   3,
   4,
   5,
   3,
   7,
   19],
  [13,
   7,
   64,
   4,
   4,
   21,
   4,
   4,
   7,
   6,
   4,
   11,
   3,
   4,
   2,
   11,
   5,
   2,
   3,
   2,
   11,
   3,
   4,
   10,
   3,
   4,
   5],
  [13, 7, 64, 4, 4, 21, 4, 4, 7, 6, 4, 11, 3, 4, 2, 11],
  [13,
   7,
   64,
   4,
   4,
   21,
   4,
   4,
   7,
   6,
   4,
   11,
   3,
   4,
   2,
   11,
   5,
   2,
   3,
   2,
   11,
   3,
   4,
   10,
   3,
   4,
   5],
  [13]],
 ' Meet': [[4,
   2,
   14,
   2,
   8,
   50,
   3,
   5,
   35,
   6,
   18,
   4,
   13,
   24,
   37,
   3,
   4,
   20,
   11,
   3,
   6,
   4,
   3,
   2,
   2,
   80,
   6,
   18,
   3,
   3,
   3],
  [4, 2, 14, 2, 8, 50, 3, 5, 35, 6, 18, 4, 13, 24, 37],
  [4, 2, 14, 2, 8, 50, 3, 5, 35, 6, 18, 4],
  [4, 2, 14, 2, 8, 50, 3, 5, 35, 6, 18, 4, 13],
  [4, 2, 14, 2]],
 ' Chinmayee': [[7,
   7,
   5,
   30,
   5,
   2,
   14,
   10,
   32,
   2,
   3,
   9,
   16,
   3,
   3,
   85,
   62,
   16,
   2,
   75,
   7,
   6,
   2,
   3],
  [7, 7, 5, 30, 5, 2, 14, 10, 32, 2, 3, 9, 16, 3, 3],
  [7, 7, 5, 30, 5, 2, 14, 10, 32, 2, 3, 9, 16, 3],
  [7, 7, 5, 30, 5, 2, 14, 10, 32, 2, 3, 9, 16, 3],
  [7, 7, 5, 30, 5, 2]],
 ' Jagas': [[7, 42, 58, 36, 3, 3, 49, 5, 12, 27, 6, 8, 17, 8, 39, 94],
  [7, 42, 58, 36, 3, 3, 49, 5],
  [7, 42, 58, 36, 3],
  [7, 42, 58, 36, 3, 3, 49, 5],
  [7]],
 ' +91 90525 52661': [[2, 5, 5, 4, 3, 4, 2, 8, 3, 18, 6, 4, 3],
  [2, 5, 5, 4, 3, 4, 2, 8, 3, 18, 6, 4, 3],
  [2, 5, 5, 4, 3, 4, 2, 8, 3, 18, 6, 4],
  [2, 5, 5, 4, 3, 4, 2, 8, 3, 18, 6, 4, 3],
  [2, 5, 5, 4, 3, 4]]}

In [18]:
print(len(touselist))

5

In [19]:
finalmapper = defaultdict(list)
for key,val in touselist.items():
    
    dummylist = touselist[key]
    
    for listitem in dummylist:
        include = []
        if len(listitem)==1:
            include.append(listitem[0])
        
        else:   
            for item in range(len(listitem)-1):
                if abs(listitem[item]-listitem[item+1])<=40:
                    include.append(listitem[item])
        
        sumlist = []
        if len(include)==1:
            sumlist.append(include[0])
        else:        
            for inc in range(len(include)-1):
                sumlist.append(abs(include[inc]-include[inc+1]))

        finalmapper[key].append(sum(sumlist))

In [20]:
finalmapper

defaultdict(list,
            {' +91 6309 604 570': [250, 119, 67, 119, 13],
             ' Meet': [253, 134, 100, 114, 14],
             ' Chinmayee': [315, 150, 137, 137, 52],
             ' Jagas': [171, 106, 73, 106, 7],
             ' +91 90525 52661': [48, 48, 46, 48, 5]})

In [22]:
finalmapper = dict(finalmapper)
finalmapper

{' +91 6309 604 570': [250, 119, 67, 119, 13],
 ' Meet': [253, 134, 100, 114, 14],
 ' Chinmayee': [315, 150, 137, 137, 52],
 ' Jagas': [171, 106, 73, 106, 7],
 ' +91 90525 52661': [48, 48, 46, 48, 5]}

## For year 2018 this is the replier stats

In [23]:
mapper_2018 = {}
for key,value in finalmapper.items():
    mapper_2018[key] = sum(value)//len(value)
    
mapper_2018

{' +91 6309 604 570': 113,
 ' Meet': 123,
 ' Chinmayee': 158,
 ' Jagas': 92,
 ' +91 90525 52661': 39}

## 2019 Stats

In [24]:
df_2019 = df[df['Year']==2019]
persons_list = list(df_2019['Person'])
persons_map = dict(zip(persons_list,map(persons_list.count,persons_list)))
persons_map = dict(sorted(persons_map.items(),key=lambda x:x[1],reverse=True))
persons_map = dict(list(persons_map.items())[:10])
top10person = list(persons_map.keys())
topmonth = list(df_2019['Month'].unique())

msgs = []
final_map = defaultdict(list)
for person in top10person:
    for month in topmonth:
        dummy = df_2019[df_2019['Month']==month]
        message_list = list(dummy['Message'])
        person_list = list(dummy['Person'])
        final_map[person].append(getmsgcount(message_list,person_list,person))
        
  
#<-----------Seperating the missing values from the list-------------------->


touselist = {}
for key,val in final_map.items():
    dummy = final_map[key]
    count = 0
    for litem in dummy:
        if len(litem)>0:
            count+=1
            
    if count==12:
        touselist[key] = val


#<--------------Prettifying the data----------------------------------------->
        
finalmapper = defaultdict(list)
for key,val in touselist.items():
    
    dummylist = touselist[key]
    
    for listitem in dummylist:
        include = []
        if len(listitem)==1:
            include.append(listitem[0])
        
        else:   
            for item in range(len(listitem)-1):
                if abs(listitem[item]-listitem[item+1])<=40:
                    include.append(listitem[item])
        
        sumlist = []
        if len(include)==1:
            sumlist.append(include[0])
        else:        
            for inc in range(len(include)-1):
                sumlist.append(abs(include[inc]-include[inc+1]))

        finalmapper[key].append(sum(sumlist))
        
        
finalmapper = dict(finalmapper)
mapper_2019 = {}
for key,value in finalmapper.items():
    mapper_2019[key] = sum(value)//len(value)
    
mapper_2019

{' +91 85559 80272': 82, ' Chinmayee': 25, ' S*2': 7}

## 2020 Stats

In [25]:
df_2020 = df[df['Year']==2020]
persons_list = list(df_2020['Person'])
persons_map = dict(zip(persons_list,map(persons_list.count,persons_list)))
persons_map = dict(sorted(persons_map.items(),key=lambda x:x[1],reverse=True))
persons_map = dict(list(persons_map.items())[:10])
top10person = list(persons_map.keys())
topmonth = list(df_2020['Month'].unique())

msgs = []
final_map = defaultdict(list)
for person in top10person:
    for month in topmonth:
        dummy = df_2020[df_2020['Month']==month]
        message_list = list(dummy['Message'])
        person_list = list(dummy['Person'])
        final_map[person].append(getmsgcount(message_list,person_list,person))
        
  
#<-----------Seperating the missing values from the list-------------------->


touselist = {}
for key,val in final_map.items():
    dummy = final_map[key]
    count = 0
    for litem in dummy:
        if len(litem)>0:
            count+=1
            
    if count==12:
        touselist[key] = val


#<--------------Prettifying the data----------------------------------------->
        
finalmapper = defaultdict(list)
for key,val in touselist.items():
    
    dummylist = touselist[key]
    
    for listitem in dummylist:
        include = []
        if len(listitem)==1:
            include.append(listitem[0])
        
        else:   
            for item in range(len(listitem)-1):
                if abs(listitem[item]-listitem[item+1])<=40:
                    include.append(listitem[item])
        
        sumlist = []
        if len(include)==1:
            sumlist.append(include[0])
        else:        
            for inc in range(len(include)-1):
                sumlist.append(abs(include[inc]-include[inc+1]))

        finalmapper[key].append(sum(sumlist))
        
        
finalmapper = dict(finalmapper)
mapper_2020 = {}
for key,value in finalmapper.items():
    mapper_2020[key] = sum(value)//len(value)
    
mapper_2020

{' Chinmayee': 43}

## 2021 Stats

In [27]:
df_2021 = df[df['Year']==2021]
persons_list = list(df_2021['Person'])
persons_map = dict(zip(persons_list,map(persons_list.count,persons_list)))
persons_map = dict(sorted(persons_map.items(),key=lambda x:x[1],reverse=True))
persons_map = dict(list(persons_map.items())[:10])
top10person = list(persons_map.keys())
topmonth = list(df_2021['Month'].unique())

msgs = []
final_map = defaultdict(list)
for person in top10person:
    for month in topmonth:
        dummy = df_2021[df_2021['Month']==month]
        message_list = list(dummy['Message'])
        person_list = list(dummy['Person'])
        final_map[person].append(getmsgcount(message_list,person_list,person))
        
  
#<-----------Seperating the missing values from the list-------------------->


touselist = {}
for key,val in final_map.items():
    dummy = final_map[key]
    count = 0
    for litem in dummy:
        if len(litem)>0:
            count+=1
            
    if count==12:
        touselist[key] = val


#<--------------Prettifying the data----------------------------------------->
        
finalmapper = defaultdict(list)
for key,val in touselist.items():
    
    dummylist = touselist[key]
    
    for listitem in dummylist:
        include = []
        if len(listitem)==1:
            include.append(listitem[0])
        
        else:   
            for item in range(len(listitem)-1):
                if abs(listitem[item]-listitem[item+1])<=40:
                    include.append(listitem[item])
        
        sumlist = []
        if len(include)==1:
            sumlist.append(include[0])
        else:        
            for inc in range(len(include)-1):
                sumlist.append(abs(include[inc]-include[inc+1]))

        finalmapper[key].append(sum(sumlist))
        
        
finalmapper = dict(finalmapper)
mapper_2021 = {}
for key,value in finalmapper.items():
    mapper_2021[key] = sum(value)//len(value)
    
mapper_2021

{" Asha Ma'am": 72, ' +91 94900 29735': 19}

In [28]:
mapper_2018

{' +91 6309 604 570': 113,
 ' Meet': 123,
 ' Chinmayee': 158,
 ' Jagas': 92,
 ' +91 90525 52661': 39}

In [29]:
mapper_2019

{' +91 85559 80272': 82, ' Chinmayee': 25, ' S*2': 7}

In [30]:
mapper_2020

{' Chinmayee': 43}

In [31]:
mapper_2021

{" Asha Ma'am": 72, ' +91 94900 29735': 19}

In [34]:
def getdf(mapper,year):
    dummy = pd.DataFrame(mapper.items(),columns = ['User','Reply Count'])
    dummy['Year'] = [year]*dummy.shape[0]
    return dummy

mapperlist = [mapper_2018,mapper_2019,mapper_2020,mapper_2021]
yearlist = [2018,2019,2020,2021]

dflist = []
for mappers,year in zip(mapperlist,yearlist):
    dflist.append(getdf(mappers,year))
    

finaldf =  pd.concat(dflist)
finaldf

                User  Reply Count  Year
0   +91 6309 604 570          113  2018
1               Meet          123  2018
2          Chinmayee          158  2018
3              Jagas           92  2018
4    +91 90525 52661           39  2018
0    +91 85559 80272           82  2019
1          Chinmayee           25  2019
2                S*2            7  2019
0          Chinmayee           43  2020
0         Asha Ma'am           72  2021
1    +91 94900 29735           19  2021

In [35]:
finaldf.to_csv('WhatsAppReplierList.csv',index=None)